
/*Universal CSS Properties across all devices and screen sizes*/
:root {
  --darkBlue: #1D4E89;
  --liteBlue: rgb(175, 243, 255);
  --white: #FFFFFF;
  --liteGray: #e1e1e1;
}
html
{
  scroll-behavior: smooth;
}
body
{
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--darkBlue);
}
#about
{
  padding-bottom: 50px;
}
#contactForm
{
  text-align: center;
  display: block;
  
  color: var(--liteBlue);
  border: 3px solid var(--liteBlue);
  width: fit-content;
  margin: 5% auto 0;
  padding: 10px;
  transition-duration: 500ms;
  
}
#contactForm:hover
{
  background-color: var(--liteBlue);

  color: var(--darkBlue);
  transform: scale(1.15);
}
section
{
  padding: 3% 5%;
}
section h1
{
  padding: 1rem 0;
}
#headshot
{
  margin: 0 auto 30px;
  
  margin-bottom: 30px;
}
#headshot img
{
  width: 80%;
  height: auto;
  margin: auto;
  box-shadow: 0 5px 18px var(--liteGray);

}
footer
{
  background-color: var(--liteGray);
  height: fit-content;
  padding: 2vw 30vw;
}
h1, h2, .project h3, .project h2
{
  color: var(--liteBlue);

}
strong
{
  color: var(--white);
}

.project
{
  height: fit-content;
}
.project img
{
  height: auto;
    margin-bottom: 8px;
    height: 50%;
}
iframe
{
  height: 300px;
}
iframe, .project img
{
  width: 100%;
  
  max-height: 300px;
}
footer h1, footer h2
{
  color: #4a4a4a;
}
input, textarea
{
  width: 100%;
  padding: 0.5rem
}
footer form
{
  height: fit-content;
  margin-bottom: 0.5rem;

}
button
{
  padding: 15px;
  width: 30%;
  margin: 0 35%;
}
.columns:last-child
{
  margin-bottom: 0;
}
/*CSS Properties for Mobile Phones*/
@media screen and (max-width: 767px)
{
  footer
  {
    padding: 2vw 5vw;
  }
}

/*CSS Properties for Tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) 
{
  footer
  {
    padding: 2vw 15vw;
  }
}
/*CSS Properties for Desktop and Beyond*/
@media screen and (min-width: 1024px)
{

  footer
  {
    padding: 2vw 30vw;
  }
  
}