
/*Universal CSS Properties across all devices and screen sizes*/
:root {
  --darkBlue: #1D4E89;
  --liteBlue: rgb(175, 243, 255);
  --white: #FFFFFF;
  --liteGray: #e1e1e1;
}
html
{
  scroll-behavior: smooth;
}
body
{
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--darkBlue);
}
#about
{
  padding-bottom: 50px;
}
section
{
  padding: 3% 5%;
}
section h1
{
  padding: 1rem 0;
}
#headshot
{
  margin: 0 auto 30px;
  
  margin-bottom: 30px;
}
#headshot img
{
  width: 80%;
  height: auto;
  margin: auto;
  box-shadow: 0 5px 18px var(--liteGray);

}
footer
{
  background-color: var(--liteGray);
}
h1, h2
{
  color: var(--liteBlue);

}
/*CSS Properties for Mobile Phones*/
@media screen and (max-width: 767px)
{

}

/*CSS Properties for Tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) 
{

}
/*CSS Properties for Desktop and Beyond*/
@media screen and (min-width: 1024px)
{

  
  
}